<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chemistry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/ThemeSelector" >
        <activity
            android:name="com.example.chemistry.SplashPage"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.chemistry.MainPage"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.example.chemistry.TopicPage" >
        </activity>
        <activity android:name="com.example.chemistry.QuestionList" >
        </activity>
        <activity
            android:name="com.example.chemistry.QuestionPage"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>
        <activity android:name="com.example.chemistry.ScorePage" >
        </activity>
        <activity
            android:name="com.example.chemistry.AboutPage"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.chemistry.TutorialPage"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="com.example.chemistry.Prefs"
            android:label="@string/preference"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.chemistry.FileChooser"
            android:label="@string/app_name"
            android:noHistory="true" >
        </activity>
    </application>

</manifest>